numpy==1.15.2
matplotlib==2.2.2
sklearn # should be 0.20
gensim==3.4.0
pandas==0.23.3
tqdm>=4.24.0
unidecode>=1.0.22

# deep learning part
tensorflow==1.15.2
keras==2.2.2
git+https://www.github.com/keras-team/keras-contrib.git

# custom tool for automatic Sequential Label Encoder
git+https://github.com/lzfelix/sk_seqtools

